<!DOCTYPE html>
<html>
<head>
    <title>Credit Card Fraud Prediction</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Credit Card Fraud Prediction</h1>

<form action="/result" method="POST">

<label>Time</label>
<input type="number" step="any" name="Time" required>

<label>Amount</label>
<input type="number" step="any" name="Amount" required>

<label>V1</label>
<input type="number" step="any" name="V1" required>

<label>V2</label>
<input type="number" step="any" name="V2" required>

<label>V3</label>
<input type="number" step="any" name="V3" required>

<label>V4</label>
<input type="number" step="any" name="V4" required>

<label>V5</label>
<input type="number" step="any" name="V5" required>

<label>V6</label>
<input type="number" step="any" name="V6" required>

<label>V7</label>
<input type="number" step="any" name="V7" required>

<label>V8</label>
<input type="number" step="any" name="V8" required>

<label>V9</label>
<input type="number" step="any" name="V9" required>

<label>V10</label>
<input type="number" step="any" name="V10" required>

<label>V11</label>
<input type="number" step="any" name="V11" required>

<label>V12</label>
<input type="number" step="any" name="V12" required>

<label>V13</label>
<input type="number" step="any" name="V13" required>

<label>V14</label>
<input type="number" step="any" name="V14" required>

<label>V15</label>
<input type="number" step="any" name="V15" required>

<label>V16</label>
<input type="number" step="any" name="V16" required>

<label>V17</label>
<input type="number" step="any" name="V17" required>

<label>V18</label>
<input type="number" step="any" name="V18" required>

<label>V19</label>
<input type="number" step="any" name="V19" required>

<label>V20</label>
<input type="number" step="any" name="V20" required>

<label>V21</label>
<input type="number" step="any" name="V21" required>

<label>V22</label>
<input type="number" step="any" name="V22" required>

<label>V23</label>
<input type="number" step="any" name="V23" required>

<label>V24</label>
<input type="number" step="any" name="V24" required>

<label>V25</label>
<input type="number" step="any" name="V25" required>

<label>V26</label>
<input type="number" step="any" name="V26" required>

<label>V27</label>
<input type="number" step="any" name="V27" required>

<label>V28</label>
<input type="number" step="any" name="V28" required>

<br>

<center>
<input type="submit" value="Predict Transaction">
</center>

</form>

</div>

</body>
</html>